#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
}
*{
  margin: 0;
  padding: 0;
}


#stats {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: absolute;
  height: 120px;
  width: 250px;
  bottom: 0%;
  left: 0%;
  text-align: center;
  padding-top: 15px;
  /* width: 100%; */
  /* height: 100%; */
  background: black;
  border: white solid 1px;
  /* z-index: -1; */
}

#stats2 {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  position: absolute;
  height: 85px;
  width: 250px;
  bottom: 10%;
  left: 0%;
  text-align: center;
  padding-top: 15px;
  /* width: 100%; */
  /* height: 100%; */
  background: black;
  border: white solid 1px;
  /* z-index: -1; */
}



#start {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  position: absolute;
  font-size: large;
  height: 40px;
  border: 1px solid white;
  width: 154px;
  bottom: 40px;
  right: 0%;
  background: black;
}


#stop {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  text-align: center;
  position: absolute;
  font-size: large;
  height: 40px;
  border: 1px solid white;
  width: 154px;
  bottom: 0%;
  right: 0%;
  background: black;
}